*{
  margin:0;
  padding:0;
  font-family: 'Rubik', sans-serif;
  list-style:none;
  text-decoration: none;
}

:root{
    --bg-color:#0c0908;
    --text-color: #fff;
    --main-color: #ffae00;
    --big-font:7rem;
    --p-font: 1.1rem;
}

body{
    background:var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}
header{
   position:fixed;
   top:0;
   right:0;
   width:90%;
   z-index:1000;
   display:flex;
   align-items: center;
   justify-content: space-between;
   padding: 32px 15%;
   background: transparent;
   transition: all ease .45s;
}

.logo{
    color:var(--text-color);
    font-size: 31px;
    font-weight: 600;
}

.logo span{
    color:var(--main-color)
}

.navbar{
    display:flex;
    align-items: center;
    margin-top:10px;
   
}

.navbar a{
     text-decoration: none;
     color:#fff;
     padding:5px 20px;
}

.navbar a:hover{
    background-color:var(--main-color);
   
 
}

section{
    padding: 0 15%;
}
.home{
    position:relative;
    top:3%;
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:30px;
}

.home-img{
      width:920px;
      height:630px;
      padding-left:67px;

}

.home-img img{
       width: 90%;
       height: 100%;
       object-fit: contain;
}
.home-text span{
       padding: 5px 25px;
       background:linear-gradient(130.08deg, #383528 0%, #191919 100%);
       box-shadow: 0px 20px 40px #00000070;
       border:1px solid #3b3b3b;
       border-radius: 100px;
       color:var(--text-color);
       font-weight:700;
       font-size:15px;
       text-transform: uppercase;
}
.home-text h1{
      font-size:var(--big-font);
      margin:23px 0;
}
.home-text p{
    font-size: var(--p-font);
    font-weight:400;
    color:#c3c3c3;
    line-height:30px;
    mask-border: 50px;
}

 .btn{
    display: inline-block;
    padding: 6px 22px;
    background: var(--main-color);
    color:var(--text-color);
    border:2px solid var(--main-color);
    font-size:16px;
    font-weight: 600;
    border-radius: 3px;
    transition: all 0.6s rase-in-out;
    margin-top:15px;
    position:relative;
    overflow:hidden;
    z-index:1;
 }

 .btn::before{
 content:'';
   position: absolute;
   top:0;
   left:0;
   width:0;
   height:100%;
   background:goldenrod;
   transition: 0.5s;
   z-index:-1;

}

.btn:hover::before{
    width:100%;
}

.two{
    background: #141414;
    border-radius: 2px solid goldenrod;
    color:var(--text-color);
    margin-left:25px;
}

.share{
    position:absolute;
    bottom:3rem;
    left:15%;
    display:flex;
    align-items:center;
    top: 68%;
}
.share p{
     font-size:17px;
     color:var(--text-color);
     margin-right:25px;
     border-bottom:1px solid goldenrod;
}
.social i{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width:3rem;
    height:3rem;
    background-color: transparent;
    box-shadow: 0px 20px 40px #00000070;
    border:1px solid goldenrod;
    color:var(--text-color);
    transition: all 0.6s;
}
.social i:hover{
      background:var(--main-color);

}

button{
    display:inline-block;
    background-color:goldenrod;
    border:1px solid goldenrod;
    color:white;
    font-size:17px;
    font-weight:500;
    padding:6px 15px;
    border-radius:3px;
    padding:5px 14px;
    border-radius:8px;
}
  





